.assitivetouch-menu-container {}

.menuball {
    position: fixed;
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10000;
    cursor: pointer;
    top: 0px;
    left: 0px;
    border-radius: 30%;
    padding: 6px;
    touch-action: none;
    cursor: grab;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
}

.menuball>div {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.assistivetouch-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* aligns on vertical for column */
    align-items: center;
    touch-action: none;
}

.assistivetouch-menu-content {
    transform: scale(0);
    width: 250px;
    height: 250px;
    background: rgb(0, 0, 0, 0);
    border-radius: 25px;
}

.assistivetouch-menu-content.open {
    transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.assistivetouch-menu-item {
    position: absolute;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assistivetouch-menu-item>label {
    font-size: 14px;
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
}